/* ======================= GLOBAL Style ========================= */

* {
    margin: 0;
    padding: 0;
    /* background-color: cyan; */
    /* background-color: cornflowerblue; */
    /* border: 1px solid red; */
    /* border: 1px solid rgb(255, 200, 200);

    background-color: green;
    background-color: greenyellow;
    background-color: rgb(77, 197, 77);
    background-color: rgb(127, 227, 127);

    background-color: darkcyan; */
} 

body {
  background-color: cyan;
  padding: 10px;

} 

.ligne {
    display: flex;
    flex-direction: row;
}
.col {
    display: flex;
    flex-direction: column;
}
.axe1-start {
    justify-content: flex-start;
}
.axe1-center {
    justify-content: center;
}
.axe1-sp-around {
  justify-content: space-around;
}
.axe1-sp-between {
  justify-content: space-between;
}
.axe2-center {
    align-items: center;
}
  
.flex1 {
    flex: 1;
}
.flex2 {
    flex: 2;
}
.flex4 {
    flex: 4;
}
.border-2b {
    border: 2px solid blue;
    border-radius: 10px;
}
.margin-V10 { /* margin external */
  margin-top: 10px;
  margin-bottom: 10px;
}
.margin-H30 {
  margin-left: 30px;
  margin-right: 30px;
}
.margin-H5 {
  margin-left: 5px;
  margin-right: 5px;
}
.padding-V5 { /* margin internal */
  padding-top: 5px;
  padding-bottom: 5px;
}
.padding-V10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.padding-H10 {
  padding-left: 10px;
  padding-right: 10px;
}

.txt-h-center {
  text-align: center;
}
.dx-90 {
  width: 90%;
}
.dx-80 {
  width: 80%;
}

.backcolor-w {
  background-color: white;

}

span {
  font-size: 1.2rem;
  font-weight: normal;
}
/* ======================= LOCAL Style ========================= */
#areaTable {
  width: 100%;
  /* border: 2px solid black; */

  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(30px 120px); */
}

/* div {
  max-height: 120px;
} */
.inputVal {
  max-height: 120px;
  overflow-y: scroll;
}
.center-white-blue {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border: 2px solid blue;
  border-radius: 10px;
  background-color: white;
}
/* .center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
} */
#manuel {
  display: none;
}
#colAjout {
  display: none;
}